.square {
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  background-color: forestgreen;
  color: cadetblue;
  width: 7rem;
  height: 7rem;
}

.square:hover {
  background-color: darkolivegreen;
  color: darkblue;
  cursor: pointer;
}

.winning {
  border: 0.5rem solid gold;
}
